h1{
    text-align: center;
}
h5{
    text-align: center;
}
.title{
    margin-bottom: 10px !important;
}
p{
    text-align: center;
    margin-top: 10px;
}
.table{
    margin-top: 10px;
}
.empty{
    width: 67px;
    height: 51px;
}