<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>calculator</title>
</head>
<body>
    <div class="ui manin continer">
        <div id="app">
            <div class="titile">
                <h1>電卓アプリ</h1>
                <h5>現在日時:{{now}}</h5>
            </div>
            <div class="ui two column centered grid top">
                <div class="column">
                    <div class="ui form">
                        <div class="two fields">
                            <div class="field">
                                <label>入力された式</label>
                                <input readonly="" type="text" v-model="formula">
                            </div>
                            <div class="field">
                                <label>答え</label>
                                <input readonly="" type="text" v-model="ans">
                            </div>
                            <button class="ui button" v-on:click="calc('C')">C</button>
                            <button class="ui button" v-on:click="calc('Del')">Del</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui two column centered grid">
                <table class="ui celled table column">
                    <tbody>
                        <tr v-for="row in buttons" :key="row.id">
                            <td v-for="item in row" :key="item.id">
                                <div v-if="item === ''" class="empty"></div>
                                <button v-else class="ui huge button" v-on:click="calc(item)">{{item}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table class="ui table">
                <thead>
                    <tr>
                        <th>履歴</th>
                        <th>時刻</th>
                        <th>再利用</th>
                    </tr>
                </thead>
                <tbody v-for="item in cal_historys" :key="item.id">
                    <tr>
                        <td>{{item[0]}}</td>
                        <td>{{item[1]}}</td>
                        <td><button class="ui button" v-on:click="reuse(item[0])">再利用</button></td>
                    </tr>
                </tbody>
            </table>
        </divn>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./main.js"></script>
    <!-- semantic.css  -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
</body>
</html>
