<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>calculator</title>
</head>
<body>
    <div class="ui manin continer">
        <div id="app">
            <div class="titile">
                <h1>電卓アプリ</h1>
                <h5>現在日時 : {{now}}</h5>
            </div>
            <div class="ui two column centered grid top">
                <div class="column">
                    <div class="ui form">
                        <div class="two fields">
                            <div class="field">
                                <label>入力された式</label>
                                <input readonly="" type="text" v-model="formula">
                            </div>
                            <div class="field">
                                <label>答え</label>
                                <input readonly="" type="text" v-model="ans">
                            </div>
                            <button class="ui button" v-on:click="calc('C')">C</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui two column centered grid">
                <table class="ui celled table column">
                    <tbody>
                        <tr v-for="row in items">
                            <td v-for="item in row">
                                <button class="ui huge button" v-on:click="calc(item)">{{item}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="history">
                <p>ここに，計算の履歴が表示されます</p>
                <div class="ui celled list">
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <td>履歴</td>
                                <td>計算時刻</td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div> -->
        </divn>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./main.js"></script>
    <!-- semantic.css  -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
</body>
</html>